.size{
height: 450px;
width: 500px;
 text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15mm;
    width: 40%;;
}

.name {
  text-align: center;
  align-items: center;
  
}

.bottom {
  margin-bottom: 4mm;
}

.resume{
  color:  white;
  font-size: 5mm;
  }

  .a:hover {
   color: white
}

.bg {
  background-color: lavender;
}