.link {
  color:white;
}
.link:hover {
  text-decoration: none ;
  color :white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

.reddish {
background-color:#dc3535
}

.navbar-brand{
    color:white !important;
}